SUPER_ADMIN_IDENTIFIERS='dhairya911@gmail.com'
DATABASE_URL_SECRET_NAME='clinic-emr-database-url'
AUTH_SECRET_NAME='clinic-emr-auth-secret'
SUPER_ADMIN_TOTP_SECRET_NAME='clinic-emr-super-admin-totp-secrets'
INTERNAL_SCHEDULER_SECRET_NAME=''
