NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8001
NEXT_ALLOWED_DEV_ORIGINS=192.168.0.102


''''
 Use this to come back to this project anytime:

  gcloud config configurations activate clinic-emr

  Use this before running important GCP commands:

  gcloud config configurations list
  gcloud config get-value project
  gcloud config get-value auth/impersonate_service_account
''''